f90nml
pytest-xdist
pytest-dependency
pytest
pytest-cov
pytest-subtests
pytest-profiling
xarray
numpy
zarr
cftime
git+https://github.com/mpi4py/mpi4py.git@aac3d8f2a56f3d74a75ad32ac0554d63e7ef90ab
pip-tools
wheel
netCDF4
hypothesis
scipy
git+https://github.com/VulcanClimateModeling/fv3config.git@3310c167f96fa1718751ff703a72ac24e54cd5b1
pytest-regressions
gitpython

# GT4Py Tests
clang-format
factory-boy
pytest-factoryboy
pytest-cache
pytest-cov
